
<div id="headerDiv" class="row">
<img class="logo" src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_logo.svg">
<h4 class="top">Study Materials</h4>
<h4 class="topwithoutMargin">Scholarship</h4>
<h4 class="topwithoutMargin">Buy a Course</h4>
<h4 class="topwithoutMargin">BYJU's Give</h4>
<h4 class="topwithoutMargin">Success Stories</h4>
<img style="height: 800px; position: relative;" src="https://cdn1.byjus.com/byjusweb/img/home/svg/homebannerbg.svg">
<img style="position: absolute; padding: 40px;" src="https://cdn1.byjus.com/byjusweb/img/home/image/Sharukh.png">
</div>

<h1>
  <div class="col" style="text-align: center;">
    <div class="row">
        <div class="col-md-4">
    <p style="padding: 10px; margin: 10px;border-radius: 10px; display: inline-grid;width: 25%;" class="card" *ngFor='let country of countryData'>
      
   
        {{country.name}}
 
     </p>
    </div>
    </div>
</div>
</h1>
